body{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.one{
    background-color: #1f2937;
    padding: 0 12%;
    display: flex;
    flex-direction: column;
}

.navigation{
    display: flex;
    justify-content: space-between;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    align-self: center;
}

.nav-list{
    color: #e5e7eb;
    font-size: 18px;
}

.hero{
    display: flex;
    gap: 64px;
    padding: 100px 0 100px 0;
    justify-content: space-between;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    flex: 1 1 0;
}

.hero-main{
    font-size: 48px;
    color:#f9faf8;
    font-weight: bold;
    flex: 1 1 auto;
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.hero-sec{
    font-size: 18px;
    color: #e5e7eb;
    flex: 1 1 auto;
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.hero-button{
    width: 130px;
    height: 40px;
    background-color: #3882f6;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #e5e7eb;
    border-radius: 12px;
    flex: 0 0 auto;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right{
    
    flex: 1 1 auto;
    align-self: center;
    display: flex;
}

.two
{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap : 40px;
    padding: 100px 0;
}

    .two-head
    {
        font-size: 36px;
        font-weight: bolder;
        color: #1f2937;
        align-self: center;
    }

    .pictures-names
    {
        display: flex;
        justify-content: center;
        gap : 64px;
        flex-wrap: wrap;
    }

    .pic
    {
        max-width: 200px;
    }


.three
{
    background-color: #e5e7eb;
    padding: 100px 25%;
    display: flex;
    flex-direction: column;
}

    .quote
    {
        font-style: italic;
        font-size: 36px;
        font-weight: lighter;
        color: #1f2937;

    }

    .writer
    {
        font-weight: bold;
        font-size: 24px;
        align-self: flex-end;
    }



.four
{
    background-color: white;
    display: flex;
    justify-content: center;

}

.blue-rec
{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    gap : 64px;
    background-color: #3882f6;
    margin: 50px;
    border-radius: 12px;
    
}

.call
{
    color: white;
    font-size: 18px;

}

.action-button
{
    border-radius: 8px;
    color: white;
    border-color: white;
    background-color: #3882f6;
    font-weight: bold;
    width: 150px;
    height: 50px;
}



.five
{
background-color: #1f2937; 
display: flex;
justify-content: center;


}

.foot
        {
            padding:  24px;
            align-self: center;
            color: white;
            

        }


.flex-container {
    display: flex;
  }

  .flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    width: 250px;
    flex: 1 1 auto;
  }
  
  .flex-container .two {
    flex-shrink: 0;
  }
  div{
    text-emphasis-color: blue;
    background-color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }
  div{
    text-emphasis-color: white;
    background-color: rgb(36, 34, 34);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }