.flex-container {
    display: flex;
  }

  .flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    width: 250px;
    flex: 1 1 auto;
  }
  
  .flex-container .two {
    flex-shrink: 0;
  }
  div{
    text-emphasis-color: blue;
    background-color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }
  div{
    text-emphasis-color: white;
    background-color: rgb(36, 34, 34);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }